.buttonbox{
    display: flex;
    justify-content: center;
}
.button_register{
    border-radius: 21px 21px 21px 21px;
    padding: 10px 20px;
    border:transparent;
    background-color: #2A9FD6;
    margin:auto;
    margin-bottom: 3rem;
    text-decoration: none;
    display: flex;
    position: relative;
   top:2rem;
}
.alert_box{
    display: flex;
    justify-content: center;
}