@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.box{
    width: 100%;
    height: 97px;
    border: 3px solid #00B894;

    border-radius: 0 0 127px 127px;
    border-left: none;
    border-right: none;
    position: relative;
    top:0;
    
}
.heading{
  color: #00B894;
  font-family: 'Anton', sans-serif;
  word-spacing: 0.5rem;
  font-size: revert;
  }
  @media only screen and (max-width: 600px){
    .heading{
        color: #00B894;
        font-size: 20px;
      }
      .box{
    height: 40px;
    }
  }