body{
  background-color: black;
  overflow-x:auto;
  overflow-y:auto;
}

h3{
  color: #00B894;
}
* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #61a054 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #61a054;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
Link{
    text-decoration: none;
}