body{
  background-color: black;
  overflow-x: hidden;
  overflow-y:hidden;
}

h3{
  color: #00B894;
}
@media only screen and (max-width: 900px){
  body{
    overflow-y:scroll;
    overflow-x: hidden;
  }
}