body{
  background-color: #121212;
  
  overflow-y:auto;
  overflow-x: hidden;
    margin: 0;
    padding: 0;

}

h3{
  color: #00B894;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #61a054 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00B894;
    border-radius: 10px;
    border: 4.3px solid black;
  }
Link{
    text-decoration: none;
}