@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,700;1,800;1,900&display=swap');
.heading{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #44CCB2;
}