
  .box {
    height: 300px;
    width: 600px;
    padding: 10px;
    
    border-radius: 53px;
    margin-top: 1rem;
    position:relative;
    
    
}
  /* background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */
 .box2{
   display: grid;
   grid-template-columns: 300px 290px;
   place-items:  center;
    height: 300px;
    width: 600px;
    grid-area: "image" "desc";
    background-color: black;
    
 } 
 .ani{
   /* background-color: white; */
   position: relative;
  width: fit-content;
   
 }
 .ani2{
  /* background-color: white; */
  position: relative;
 width: fit-content;
  left: 70%;
   
}
  .img{
    border-radius: 63px;
    width: 250px;
    height: 250px;
    margin-left:0px;
    object-fit: cover;
    
  }
  @keyframes animate {
    0% {
     
      filter: hue-rotate(0deg);
    }
    25%{
        filter: hue-rotate(120deg);
    }
    50% {
     
      filter: hue-rotate(180deg);
    }
    100% {
     
      filter: hue-rotate(360deg);
    }
  }
  .desc{
    text-align: left;
    color:white;
    font-size: medium;
  }
  .box button {
    height: 23px;
    width: 200px;
    padding: 16px;
    color: white;
    background-color: #1212;
    border-radius: 63px;
    position: relative;
    
    
  }
  .box:hover {
      
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 50%,#ff4e00 100%); 
    animation: animate 1s linear   infinite;  
    
  }
  @media only screen and (max-width: 900px) {
    .box{
      transform: scale(0.7);
      
      
    }
    .ani1{
      right: 10%;
    }
    
  }
  @media only screen and (max-width: 500px) {
    .box{
      transform: scale(0.5);
      left: -57%;
    
  }
    }
    @media only screen and (max-width: 400px) {
      .box{
        transform: scale(0.5);
       
      
      
      
    }
      }
   
  body {
    background-color: #121212;
  }
  
  /* background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */
  

  