

  /* background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */
 .box1{
   display: grid;
   grid-template-columns: 300px 290px;
   place-items:  center;
    height: 300px;
    width: 600px;
    grid-area: "image" "desc";
    background-color: #121212;
    border:2px solid #44CCB2;
    right:3vw;
    border-radius: 35px;
 }
 .box2{
  display: grid;
  grid-template-columns: 300px 290px;
  place-items:  center;
   height: 300px;
   width: 600px;
   grid-area: "image" "desc";
   background-color: #121212;
   border:2px solid #44CCB2;
   left: 60%;
   border-radius: 35px;
    position: relative;
}  

  .img{
    border-radius: 63px;
    width: 250px;
    height: 250px;
    margin-left:0px;
    object-fit: cover;
    
  }

  .desc{
    text-align: left;
    color:white;
    font-size: medium;
  }
  .position{
    color:#44CCB2;
  }
  .name{
    color:#44CCB2;
  }
  @media only screen and (max-width: 1200px) {
    .box1{
      height: 150px;
      width: 300px;
      grid-template-columns: 100px 190px;
    }
    .box2{
      height: 150px;
      width: 300px;
      grid-template-columns: 100px 190px;
    }
    .img{
      width:80px;
    height: 80px;
    }
   .desc{
    font-size: xx-small;
     margin-left:2px;
     text-align: justify;
   }
   .name{
     font-size: small;
  }
  .position{
    font-size:small;
  }
  }
  